{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "^@(nestjs/(.*)$)|^@(nestjs$)|^@nestjs-(.*)$",
    "^express$|express/(.*)$",
    "^@charliexndt/(.*)$",
    "^@controllers$",
    "^@common$",
    "^@models$",
    "^@repository$",
    "^@services$",
    "^@middlewares$",
    "^@decorators$",
    "^@utils$",
    "^constants$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": [
    "typescript",
    "[\"decorators-legacy\", {\"decoratorsBeforeExport\": true}]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
